@import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css);
@import url('https://fonts.googleapis.com/css?family=Galada');
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


body {
  font-family: 'Noto Sans Bengali', sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .mdl-button {
  font-family: 'Noto Sans Bengali', sans-serif;
}

.source {
  border-top: 1px solid rgba(162,215,41,0.9);
  margin-top: 40px;
}

.source h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.devider {
  margin: 0 auto;
  width: 150px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.mdl-layout__drawer {
  background: #060407;
  display: flex;
  border-color: #111;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.mdl-layout__drawer .mdl-layout-title {
  padding-left: 0;
}

.mdl-layout__drawer .mdl-navigation {
  margin-bottom: 10px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #FFF;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all ease-in-out 0.3s;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background: none;
  color: #FF3D43;
}

.mdl-layout__drawer-button {
  color: #FF3D43;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.social li {
  display: inline-block;
}

.social li a {
  color: #FFF;
  padding: 4px 6px;
  margin-right: 4px;
}

.rrssb-buttons li a {
  border-radius: 0;
}

.mdl-card__media {
  background-color: #060407;
}

.mdl-card__media img {
  width: 100%;
  height: auto;
}

.blog-post .mdl-card__title {
  padding: 0;
}

.blog-post .mdl-card__title-text {
  display: inline-block;
  width: 100%;
  min-height: 70px;
  padding: 16px;
  background: #fff;
  color: #342E37;
  font-size: 20px;
}

.read-more {
  text-align: right;
  font-size: 18px;
}

.mdl-layout {
  background: url(../img/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(6,4,7,0.9);
  min-height: 100vh;
}


.main-post .mdl-card__title {
  padding: 0;
}

.main-post .mdl-card__title-text {
  display: inline-block;
  width: 100%;
  padding: 16px 5%;
  text-align: center;
  background: rgba(6,4,7,1);
  color: #FFF;
}

.main-post .post-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
}

.main-post .post-meta li {
  display: inline-block;
}

.main-post .post-meta li a {
  text-decoration: none;
}


.main-post .mdl-card__supporting-text {
  margin: 0 auto;
  padding-right: 16px;
  color: #060407;
}


.main-post .mdl-card__supporting-text p {
  text-align: justify;
  width: 100%;
}

.post-nav {
  padding: 0 !important;
}

.nav-btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.1);
}

.nav-btn .fa {
  margin: 8px;
}

blockquote {
  font-family: 'Galada', cursive;
  padding: 16px;
  background: #F1F1F1;
  margin: 32px 16px;
  font-style: normal;
  position: relative;
  color: rgba(6,4,7,.9);
}

blockquote p {
  text-align: center !important;
  font-size: 20px;
  margin-top: 16px;
}

blockquote::before, blockquote::after {
  font-family: 'FontAwesome';
  margin: 0;
  position: absolute;
  color: #ff4081;
  content: "";
  font-size: 32px;
}

blockquote::before {
  content: '\f10d';
  top: -16px;
}
blockquote::after {
  content: '\f10e';
  right: -16px;
  bottom: -16px;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-post {
    margin: 5%;
  }
}
