<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone blog-post mdl-card mdl-shadow--3dp">
  <div class="mdl-card__title" style="color: #fff; background: url('http://4.bp.blogspot.com/-wNMkMjah9U4/VhUrdX4MHGI/AAAAAAAABgU/5wJdZos3D0o/s1600/Getting%2BTo%2BKnow.png') center / cover; height: 350px;">
    <h2 class="mdl-card__title-text">
      <%- item.title %>
    </h2>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="<%- config.root %><%- item.path %>">
বিস্তারিত <i class="fa fa-caret-right" aria-hidden="true"></i>
</a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
<i class="material-icons">share</i>
</button>
  </div>
</div>
