<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone blog-post mdl-card mdl-shadow--3dp">
  <div class="mdl-card__media">
    <img src="<%= item.img_url %>" alt="" style="max-width: 100%"/>
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      <%- item.title %>
    </h2>
  </div>
  <div class="mdl-card__actions read-more mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="<%- config.root %><%- item.path %>">
বিস্তারিত <i class="fa fa-caret-right" aria-hidden="true"></i>
</a>
  </div>
</div>
